#======== General ==============================================================
# General
*.o
*.so*
ToDo
prepare.log
config.h
test.sh

#======== maim =================================================================
maim/src/cmdline.h
maim/CMakeFiles/*
maim/Makefile
maim/cmake_install.cmake
maim/CMakeCache.txt
maim/bin/maim
maim/install_manifest.txt

#======== slop =================================================================
slop/CMakeCache.txt
slop/CMakeFiles/
slop/Makefile
slop/bin/
slop/cmake_install.cmake
slop/libslopy.so
slop/.vscode
slop/libslopy.so*
slop/install_manifest.txt

#======== suckless =============================================================
dwm/dwm
dwm.*
st/st
dmenu/dmenu
dusk/dusk
dusk/duskc
slock/slock
gllock/gllock
sent/sent
surf/surf
stw/stw

#======== sxiv =================================================================
sxiv/sxiv
sxiv/version.h

#======== xdotool ==============================================================
xdotool/xdo_version.h
xdotool/xdotool

#======== xmenu ================================================================
xmenu/xmenu

