# Just ignore it

# General
ToDo
prepare.log
*.o
*.so*

dwm/config.h
dwm/dwm
st/config.h
st/st
dmenu/config.h
dmenu/dmenu
dunst/config.h
slock/config.h
slock/slock
surf/config.h
surf/surf
stw/stw
sxiv/config.h
tabbed/config.h
xmenu/config.h

# xdotool
xdotool/xdo_version.h
xdotool/xdotool

# slop
slop/CMakeCache.txt
slop/CMakeFiles/
slop/Makefile
slop/bin/
slop/cmake_install.cmake
slop/libslopy.so
slop/.vscode
slop/libslopy.so*
slop/install_manifest.txt


# maim
maim/src/cmdline.h
maim/CMakeFiles/*
maim/Makefile
maim/cmake_install.cmake
maim/CMakeCache.txt
maim/bin/maim
maim/install_manifest.txt

#dunst
dunst/*.o
dunst/*.d
dunst/*.gcda
dunst/*.gcno
dunst/*.gcov
dunst/core
dunst/vgcore.*
dunst/docs/dunst.1
dunst/docs/internal/coverage
dunst/docs/internal/html
dunst/dunst
dunst/dunstify
dunst/dunst.systemd.service
dunst/org.knopwob.dunst.service
dunst/test/test
