#======== General ==============================================================
# General
*.o
*.so*
*.alt.*
ToDo
prepare.log
config.h
test.sh

#======== maim =================================================================
src/maim/src/cmdline.h
src/maim/CMakeFiles/*
src/maim/Makefile
src/maim/cmake_install.cmake
src/maim/CMakeCache.txt
src/maim/bin/maim
src/maim/install_manifest.txt

#======== slop =================================================================
src/slop/CMakeCache.txt
src/slop/CMakeFiles/
src/slop/Makefile
src/slop/bin/
src/slop/cmake_install.cmake
src/slop/libslopy.so
src/slop/.vscode
src/slop/libslopy.so*
src/slop/install_manifest.txt

#======== suckless =============================================================
src/dwm/dwm
src/st/st
src/dmenu/dmenu
src/dusk/dusk
src/dusk/duskc
src/slock/slock
src/gllock/gllock
src/sent/sent
src/surf/surf
src/stw/stw

#======== sxiv =================================================================
src/sxiv/sxiv
src/sxiv/version.h

#======== xdotool ==============================================================
src/xdotool/xdo_version.h
src/xdotool/xdotool

#======== xmenu ================================================================
xmenu/xmenu

