!! XTerm related
XTerm.vt100.scrollBar:          false
XTerm.vt100.faceName:           FiraMono Nerd Font:size=12:antialias=true
!! XTerm.vt100.font:               7x13
XTerm.vt100.background:         #fdf6e3
XTerm.vt100.foreground:         #657b83

!! suckless st related
!! st.font:                        Fira Mono Regular:size=12:antialias=false
!! st.font:                        Monaco:size=12:antialias=true
!! st.font:                        GoMono NF:size=10:antialias=true
st.font:                        FiraMono Nerd Font:size=10:antialias=true
st.background:                  #00ff00
st.foreground:                  #ff0000

!! black dark/light
*color0:                        #073642
!! *color0:                     #fdf6e3
*color8:                        #002b36

!! red dark/light
*color1:                        #dc322f
*color9:                        #cb4b16

!! green dark/light
*color2:                        #859900
*color10:                       #586e75

!! yellow dark/light
*color3:                        #b58900
*color11:                       #657b83

!! blue dark/light
*color4:                        #268bd2
*color12:                       #839496

!! magenta dark/light
*color5:                        #d33682
*color13:                       #6c71c4

!! cyan dark/light
*color6:                        #2aa198
*color14:                       #93a1a1

!! white dark/light
*color7:                        #eee8d5
*color15:                       #fdf6e3
