#bottom-result-container #spon_links { display: none !important; }
#bottom-result-container #sponsored_csa1 { display: none !important; }
#bottom-result-container #sponsored_csa2 { display: none !important; }
